<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.board.mapper.BoardMapper">
  <select id="getBoardList">
  SELECT BNO
         ,TITLE
         ,WRITER
         ,TO_CHAR(REGDATE,'YYYY-MM-DD') REGDATE
         ,HIT
   FROM  BOARD
   WHERE MENU_ID = #{menu_id}
   ORDER BY BNO DESC      
  
  </select>
<!--   	<resultMap type="java.util.HashMap" id="getBoardMap">
	<result property="bno"       column="bno"/>
	<result property="menu_id"   column="menu_id"/>
	<result property="title"     column="title"/>
	<result property="content"   column="content"/>
	<result property="writer"    column="writer"/>
	<result property="regdate"   column="regdate"/>
	<result property="hit"       column="hit"/>
	</resultMap> -->
  
  <select id="getBoard" resultType = "com.board.domain.BoardVo">
  SELECT BNO
  		 ,MENU_ID
         ,TITLE
         ,CONTENT
         ,WRITER
         ,TO_CHAR(REGDATE,'YYYY-MM-DD hh24:mm:ss') REGDATE
         ,HIT
   FROM  BOARD
   WHERE BNO = #{bno}	  
  
  
  </select>
  <insert id="insertBoard">
  	INSERT INTO BOARD(
  	BNO,
  	MENU_ID,
  	TITLE,
  	WRITER,
  	CONTENT
  	)
  	VALUES(
  	(SELECT NVL(MAX(BNO),0)+1 FROM BOARD),
  	#{menu_id},
  	#{title},
  	#{writer},
  	#{content}  	
  	)

  </insert>
  
  <update id="incHit">
  UPDATE BOARD
  SET    HIT = HIT+1
  WHERE  BNO = #{bno}
  </update>
  
  
  
  <update id="getUpdate">
  UPDATE BOARD
  SET    
  		 TITLE   = #{title},
  		 WRITER  = #{writer}
  		 CONTENT = #{content}
  WHERE  BNO     = #{bno}		 
         
  
  
  </update>
  
  <delete id="deleteBoard">
  DELETE
  FROM   BOARD
  WHERE  BNO = #{bno}
  </delete>
  
  
  
</mapper>  	